<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Mehlbox Konsole</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
                </ul>

                <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span sec:authentication="name">Testus Test Foo</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><form th:action="@{/logout}" method="post"><input type="submit" class="btn btn-link" value="Sign Out"/></form></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>