<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     MehlboxKonsole2 is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with MehlboxKonsole2.  If not, see <https://www.gnu.org/licenses/>.
  -->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="../../static/generated/mk2.css" th:href="@{/generated/mk2.css}"/>
    <link rel="stylesheet" href="../../static/css/mk2-main.css" th:href="@{/css/mk2-main.css}"/>

</head>

<body>
<header th:fragment="header">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Mehlbox Konsole</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="isAnonymous()" class="nav-item active">
                    <a th:href="@{/login}" class="nav-link">Login</a>
                </li>
            </ul>

            <div sec:authorize="isAuthenticated()" class="dropdown">
                <a class="nav-link dropdown-toggle text-light bg-dark" href="#" id="navbarDropdownMenuLink"
                   role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span sec:authentication="name">Testus Test Foo</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <form th:action="@{/logout}" method="post" class="form-inline">
                        <input type="submit" class="dropdown-item btn btn-link" value="Sign Out"/>
                    </form>
                </div>

            </div>

            <div sec:authorize="isAnonymous()">
                <ul class="nav">
                    <a class="nav-link" href="/imprint">Impressum</a>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>