<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     MehlboxKonsole2 is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with MehlboxKonsole2.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/application }">
<head>
    <meta charset="UTF-8" />
    <title>MehlboxKonsole - Access Denied</title>
</head>
<body>
<div layout:fragment="content">

    <div class="bs-callout bs-callout-warning">
        <h4 th:text="#{mk2.error.accessDenied}">I cannot let you do this, Dave. Sincerly, your HAL9000.</h4>
    </div>

</div>
</body>
</html>