<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/application">
<head>
    <meta charset="UTF-8" />
    <title>MehlboxKonsole - Change Password</title>
</head>
<body>
<div layout:fragment="content">

    <h1 th:text="#{mk2.title.changePassword}">Change Password</h1>

    <form th:action="@{/changePassword}" action="/changePassword" method="POST" th:object="${password}">
        <div class="form-group col-xs-12" th:classappend="${#fields.hasErrors('oldPassword')?'has-error':''}">
            <label for="mk2_old_password" class="control-label col-xs-2" th:text="#{mk2.form.changePassword.oldPassword}">Current Password: </label>
            <div class="col-xs-4">
                <input id="mk2_old_password" name="oldPassword" type="password" class="form-control"/>
            </div>
        </div>

        <div class="form-group col-xs-12" th:classappend="${#fields.hasErrors('newPassword')?'has-error':''}">
            <label for="mk2_password" class="control-label col-xs-2" th:text="#{mk2.form.changePassword.newPassword}">New Password: </label>
            <div class="col-xs-4">
                <input id="mk2_password" name="newPassword" type="password" class="form-control"/>
            </div>
        </div>

        <div class="form-group col-xs-12" th:classappend="${#fields.hasErrors('passwordConfirmation')?'has-error':''}">
            <label for="mk2_password_confirmation" class="control-label col-xs-2" th:text="#{mk2.form.changePassword.confirmNewPassword}">Confirm newPassword: </label>
            <div class="col-xs-4">
                <input id="mk2_password_confirmation" name="passwordConfirmation" type="password" class="form-control" />
            </div>
        </div>

        <div class="button-group">
            <button type="submit" id="mk2_changePassword_submit" name="submit" value="Change">Change</button>
        </div>
    </form>
</div>
</body>
</html>