<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     MehlboxKonsole2 is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with MehlboxKonsole2.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     Foobar is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with Foobar.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/application">
<head>
    <meta charset="UTF-8" />
    <title>MehlboxKonsole - Change Password</title>
</head>
<body>
<div layout:fragment="content">

    <h1 th:text="#{mk2.title.changePassword}">Change Password</h1>

    <form th:action="@{/user/changePassword}" action="/user/changePassword" method="POST" th:object="${password}">
        <div class="form-group col-xs-12" th:classappend="${#fields.hasErrors('oldPassword')?'has-error':''}">
            <label for="mk2_old_password" class="control-label col-xs-2" th:text="#{mk2.form.changePassword.oldPassword}">Current Password: </label>
            <div class="col-xs-4">
                <input id="mk2_old_password" name="oldPassword" type="password" class="form-control"/>
                <span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Old Password Error</span>
            </div>
        </div>

        <div class="form-group col-xs-12" th:classappend="${#fields.hasErrors('newPassword')?'has-error':''}">
            <label for="mk2_password" class="control-label col-xs-2" th:text="#{mk2.form.changePassword.newPassword}">New Password: </label>
            <div class="col-xs-4">
                <input id="mk2_password" name="newPassword" type="password" class="form-control"/>
                <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Error</span>
            </div>
        </div>

        <div class="form-group col-xs-12" th:classappend="${#fields.hasErrors('passwordConfirmation')?'has-error':''}">
            <label for="mk2_password_confirmation" class="control-label col-xs-2" th:text="#{mk2.form.changePassword.confirmNewPassword}">Confirm newPassword: </label>
            <div class="col-xs-4">
                <input id="mk2_password_confirmation" name="passwordConfirmation" type="password" class="form-control" />
                <span th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">New Password Confirmation Error</span>
            </div>
        </div>

        <div class="button-group">
            <button type="submit" id="mk2_changePassword_submit" name="submit" value="Change">Change</button>
        </div>
    </form>
</div>
</body>
</html>