<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     MehlboxKonsole2 is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with MehlboxKonsole2.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     Foobar is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with Foobar.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/application">
<head>
    <title>Error</title>
</head>
<body>
<div layout:fragment="content">

    <h1 th:text="${title}">Title</h1>
    <div id="created" th:text="${#dates.format(timestamp)}">Feb 09, 2016 7:28:00 PM GMT</div>
    <div>
        There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
    </div>
    <div th:text="${message}">Fake content</div>
    <div>
        Please contact the operator with the above information.
    </div>
</div>
</body>
</html>