<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/application">
<head>
    <meta charset="UTF-8" />
    <title>MehlboxKonsole - Home</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Welcome <span th:text="${user.displayName}" /></h1>

    <div>
        <p>What do you want to do today</p>

        <ul>
            <li><a href="/showAddresses" th:text="#{mk2.action.showEmailAddresses}">Show Email Addresses</a></li>
            <li><a href="/changePassword" th:text="#{mk2.action.changePassword}">Change Password</a></li>
        </ul>
    </div>
</div>
</body>
</html>