<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     MehlboxKonsole2 is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with MehlboxKonsole2.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     MehlboxKonsole2 is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with MehlboxKonsole2.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: head">
    <title>Mehlbox Konsole - Home</title>
</head>
<body>

<header th:replace="fragments/header :: header">HEADER GOES HERE</header>

<div class="container">

    <h2>Welcome <span th:text="${user.displayName}"/></h2>

    <div th:if="${message}" class="bs-callout bs-callout-success">
        <h4 th:text="${message}">Success message</h4>
    </div>

    <div>
        <p>What do you want to do today</p>

        <ul>
            <li><a href="/user/showAddresses" th:href="@{/user/showAddresses}"
                   th:text="#{mk2.action.showEmailAddresses}">Show Email Addresses</a></li>
            <li><a href="/user/changePassword" th:href="@{/user/changePassword}"
                   th:text="#{mk2.action.changePassword}">Change Password</a></li>
            <li sec:authorize="hasRole('ROLE_DOMAIN_OWNER')"><a href="/domain/showMyDomains"
                                                                th:href="@{/domain/showMyDomains}"
                                                                th:text="#{mk2.action.showMyDomains}">Show My
                Domains</a></li>
        </ul>
    </div>
</div>

<footer th:replace="fragments/footer :: footer">FOOTER GOES HERE</footer>

<section th:replace="fragments/footer :: scripts">SCRIPTS GO HERE</section>

</body>
</html>