<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
    <title>Mehlbox Konsole - Imprint</title>
</head>
<body>
<header th:replace="fragments/header :: header">HEADER GOES HERE</header>

<div class="container">
    <h1>Impressum</h1>
    <p>
        Holger Steinhauer<br/>
        steinhauer.software Holger Steinhauer<br/>
        Karl-Marx-Str. 28<br/>
        15370 Fredersdorf-Vogelsdorf<br/>
        Deutschland<br/>
    </p>

    <p>
        Tel.: +49-33439-422693<br />
        E-Mail: contact@steinhauer.software
    </p>

    <p>
        Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE322761343
    </p>

    <p>
        Plattform der EU-Kommission zur Online-Streitbeilegung: <a href="https://ec.europa.eu/odr">https://ec.europa.eu/odr</a>
    </p>

    <p>
        Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle nicht
        verpflichtet, hierzu jedoch bereit.
    </p>

    <p>
        Verantwortliche/r i.S.d. § 18 Abs. 2 MStV:<br />
        Holger Steinhauer, Karl-Marx-Str. 28, 15370 Fredersdorf-Vogelsdorf, Germany
    </p>
</div>

<footer th:replace="fragments/footer :: footer">FOOTER GOES HERE</footer>
<section th:replace="fragments/footer :: scripts">SCRIPTS GO HERE</section>

</body>
</html>
