<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     MehlboxKonsole2 is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with MehlboxKonsole2.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
	<title>Mehlbox Konsole - Log In</title>
</head>
<body>

<header th:replace="fragments/header :: header">HEADER GOES HERE</header>

<div th:fragment="content">

	<div class="container">
		<h2>Login</h2>

		<div th:if="${param.error}" class="bs-callout bs-callout-danger">
			<h4>Invalid username and password.</h4>
		</div>

		<div th:if="${param.logout}" class="bs-callout bs-callout-info">
			<h4>You have been logged out.</h4>
		</div>

		<form th:action="@{/login}" method="post" class="form-horizonal">
			<div class="form-group col-xs-12" th:classappend="${param.error}? 'has-error' : ''">
				<label for="mk2_login" class="control-label col-xs-2">User name: </label>
				<div class="col-xs-4">
					<input id="mk2_login" name="username" type="text" class="form-control"/>
				</div>
			</div>

			<div class="form-group col-xs-12" th:classappend="${param.error}? 'has-error' : ''">
				<label for="mk2_password" class="control-label col-xs-2">Password: </label>
				<div class="col-xs-4">
					<input id="mk2_password" name="password" type="password" class="form-control"/>
				</div>
			</div>

			<div class="button-group">
				<button type="submit" id="mk2_login_submit" name="submit" value="Sign in" class="btn btn-primary">Sign in</button>
			</div>
		</form>
	</div>
</div>

<footer th:replace="fragments/footer :: footer">FOOTER GOES HERE</footer>

<section th:replace="fragments/footer :: scripts">SCRIPTS GO HERE</section>
</body>
</html>