<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/application">
<head>
    <meta charset="UTF-8" />
    <title>MehlboxKonsole - My Domains</title>
</head>
<body>
<div layout:fragment="content">

    <h1 th:text="#{mk2.title.showMyDomains}">My Domains</h1>

    <div class="container">

        <ul id="mk2_account_my_domains">
            <li class="mk2_account_my_domains" th:each="domain : ${domains}">
                <span th:text="${domain.name}" th:remove="tag"></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>