<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/application">
<head>
    <meta charset="UTF-8" />
    <title>MehlboxKonsole - Your Email Addresses</title>
</head>
<body>
<div layout:fragment="content">

    <h1 th:text="#{mk2.title.showAddresses}">E-mail Addresses</h1>

    <div class="container">

        <ul id="mk2_account_mailaddresses">
            <li class="mk2_account_mailaddresses_domain_part" th:each="addressesPerDomain: ${addresses}">
                <span th:text="${addressesPerDomain.key}" th:remove="tag"></span>
                <ul>
                    <li th:each="address, iterStat: ${addressesPerDomain.value}" th:text="${address}" th:class="${iterStat.odd}? 'odd' : 'even'"></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>