<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     MehlboxKonsole2 is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with MehlboxKonsole2.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:insert="fragments/header :: head">
    <title>Mehlbox Konsole - Log In</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css"
          th:href="@{/webjars/bootstrap-table/1.10.1/dist/bootstrap-table.min.css}"/>

</head>


<body>

<header th:replace="fragments/header :: header">HEADER GOES HERE</header>

<div th:fragment="content">

    <div class="container">
        <h1 th:text="#{mk2.title.showAddresses}">E-mail Addresses</h1>

        <div th:if="${message}" class="bs-callout bs-callout-success">
            <h4 th:text="${message}">Success message</h4>
        </div>

        <div th:if="${error}" class="bs-callout bs-callout-danger">
            <h4 th:text="${error}">Error message</h4>
        </div>


        <div style="text-align: right; margin-bottom: 5px;" sec:authorize="hasRole('ROLE_DOMAIN_OWNER')">
            <a href="/user/emailAddress/add" th:href="@{/user/emailAddress/add}"><i
                    class="fa fa-plus"></i><span th:text="#{mk2.action.addEmailAddress}" th:remove="tag">Add</span></a>
        </div>
        <table data-toggle="table">
            <thead>
            <tr>
                <th th:text="#{mk2.user.table.header.email.address}">Address</th>
                <th th:text="#{mk2.user.table.header.email.actions}">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address: ${addresses}">
                <td th:text="${address}"></td>
                <td>
                    <form action="#" th:action="@{/user/emailAddress/delete}" method="POST">
                        <input type="hidden" name="address" th:value="${address}"/>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="fragments/footer :: footer">FOOTER GOES HERE</footer>
<section th:replace="fragments/footer :: scripts">SCRIPTS GO HERE</section>

</body>
</html>