<!--
  ~ This file is part of MehlboxKonsole2.
  ~
  ~     MehlboxKonsole2 is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     MehlboxKonsole2 is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with MehlboxKonsole2.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: head">
    <title>MehlboxKonsole - My Domains</title>
</head>

<body>
<header th:replace="fragments/header :: header">HEADER GOES HERE</header>

<div th:fragment="content">
    <div class="container">
        <h1 th:text="#{mk2.title.showMyDomains}">My Domains</h1>

        <div th:if="${domains.isEmpty()}" class="bs-callout bs-callout-info" th:text="#{mk2.info.noDomains}"></div>

        <div class="container">

            <ul id="mk2_account_my_domains">
                <li class="mk2_account_my_domains" th:each="domain : ${domains}">
                    <span th:text="${domain.getName(true)}" th:remove="tag"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>